/* Dashboard.css */

* {
  margin: 0;
}

.headerdark{
  background: #212121;
  color: white;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  color: white;
  padding: 10px;
}

.navbardark {
  display: flex;
  justify-content: space-around;
  background-color: #181818;
  color: white;
  padding: 10px;
}

.nav-item {
  text-align: center;
  cursor: pointer;
  padding: 1% 0 1% 0;
  width: 20%;
  border-collapse: separate;
}

.nav-item:hover {
  background-color: #575757;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-item:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 300px;
  background-color: #f0f0f0;
  overflow-y: auto;
  padding: 20px;
}

.sidebardark {
  width: 300px;
  color: #f0f0f0;
  background: #262626;
  overflow-y: auto;
  padding: 20px;
}

.right-sidebar {
  width:20%;
  background-color: #f0f0f0;
  overflow: hidden;
  padding: 20px;
}

.right-sidebardark {
  width:20%;
  background-color: #262626;
  overflow: hidden;
  padding: 20px;
}


.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.task-list button {
  text-align: left;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inactive{
  color:red;
}

.active{
  color:green;
}

.job-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  color: black;
}

.job-itemdark {
  background-color: #181818;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  color: white;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.execute-button {
  background-color: #33b249;
  color: white;
  margin-right:4px;
}

.modify-button {
  background-color: gold;
  color: black;
}

.delete-button {
  background-color: #ED0800;
  color: white;
  margin-left:4px;
}

.refresh-button {
  width: 100%;
  margin-bottom: 20px;
  background-color: #2196F3;
  color: white;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  min-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content {
  flex: 1;
  display: flex;
  width: auto;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
}

.main-contentdark {
  flex: 1;
  display: flex;
  width: auto;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  background: #212121;
  color: white;
}

.field-selector-container {
  width: auto;
  margin: 0 auto;
}

.form-container {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.form-containerdark {
  background: #181818;
  color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

.status-section {
  padding: 20px;
}

.error {
  color: red;
  font-size: 0.8em;
}

.content-area {
  padding: 20px;
}

.expanded {
  width: calc(100% - 20px);
  margin: 0 auto;
}

/* Custom date picker styles */
.custom-date-picker {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.date-picker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.date-picker-header button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.date-picker-header span {
  font-weight: bold;
  cursor: pointer;
}

.date-picker-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.date-picker-footer button {
  background: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.year-month-picker,
.year-picker,
.month-picker {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 16px;
}

.year-month-picker button,
.year-picker button,
.month-picker button {
  background: #f0f0f0;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.year-month-picker button:hover,
.year-picker button:hover,
.month-picker button:hover {
  background: #e0e0e0;
}

.form-container input[type="time"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.farmbot-status-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  white-space: nowrap;
  color: black;
}

.farmbot-status-container .status-display {
  font-size: 18px;
  font-weight: bold;
}

/* 为暗黑模式添加样式 */
.main-contentdark .farmbot-status-container {
  background-color: #333;
  color: white;
}

.status-display {
  display: flex;
  align-items: center;
  gap: 5px;
}

.status-display label,
.status-display .status {
  margin: 0;
  padding: 0;
}


@media (max-width: 768px) {
  .right-sidebar, .right-sidebardark {
    width: 100%;
  }
  .content-wrapper {
    flex-direction: column;
  }
}


/* Add this at the end of your Dashboard.css file */


/* Ensure consistent spacing between labels and input fields */
.form-container label, .form-containerdark label {
  display: block;
  margin-bottom: 0.5em;
}

.form-container input[type="text"],
.form-container input[type="time"],
.form-container select,
.form-container .react-datepicker-wrapper,
.form-containerdark input[type="text"],
.form-containerdark input[type="time"],
.form-containerdark select,
.form-containerdark .react-datepicker-wrapper {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-container .react-datepicker-wrapper ,
.form-containerdark .react-datepicker-wrapper{
  display: block;
  border: none;
}

.form-container .react-datepicker__input-container input,
.form-containerdark .react-datepicker__input-container input {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
}

.form-container .error, .form-containerdark .error {
  color: red;
  font-size: 0.8em;
  margin-top: -0.5em; /* Move error message closer to the input field */
  margin-bottom: 0.5em; /* Ensure space between the error message and the next label */
}

.formdark{
  background: #181818;
}

/* Remove bottom margin from the last form element */
.form-container div:last-child, .form-containerdark div:last-child {
  margin-bottom: 0;
}

* {
  transition: background-color 0.3s ease, color 0.1s ease;
}

.delete-button:hover {
  background-color: darkred; /* A darker red for hover */
}
.modify-button:hover {
  background-color: #ffbd03; /* A darker yellow for hover */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logout-button {
  background-color: #221e1e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logout-button:hover {
  background-color: #605858;
}