/* src/styles/Login.css */


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #f7f7f7;
    box-shadow: inset 0px 17px 17px -10px rgba(136,136,136,0.3);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 3vh 15vh 3vh 15vh;
    border-radius: 5vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px; /* Add some space below the logo */
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #218838;
  }
  